<div id=wrapper>
  <h2></h2>
  <%= form_for [@pairing, @food] do |f| %>
  <p></p>
  <%= f.text_field :name, required: true, placeholder: "What are you eating?" %>
  <div id="sweet">
    <div class="title-container">
      <h3 class="flavour-name">S W E E T N E S S</h3><span id="sweet_value">2.5</span>
    </div>
    <div class="slider">LOW </span> <%= f.range_field :sweet, min: 0, max: 5, step: 0.1, id: "sweet_slider" %>  HIGH </div>
    <div class="flavour-description"><p>Foods containing sugar, honey, and most fruits are sweet - but vegetables
      like corn and squash can contribute sweetness too.</p></div>
    </div>
    <div id="umami">
      <div class="title-container">
        <h3 class="flavour-name">U M A M I</h3><span id="umami_value">2.5</span>
      </div>
      <div class="slider">LOW <%= f.range_field :umami, min: 0, max: 5, step: 0.1, id: "umami_slider" %> HIGH</div>
      <div class="flavour-description"><p>Umami is the taste of savoury. Mushrooms,
        bacon, soy sauce and salt all contribute umami flavours.</p></div>
      </div>
      <div id="spicy">
        <div class="title-container">
          <h3 class="flavour-name">S P I C I N E S S</h3><span id="spicy_value">2.5</span>
        </div>
        <div class="slider">LOW <%= f.range_field :spicy, min: 0, max: 5, step: 0.1, id: "spicy_slider" %> HIGH</div>
        <div class="flavour-description"><p>This refers specifically to the 'hotness' of
          the food, as contributed by chilli peppers, hot sauce, and so on.</p></div>
        </div>
        <div id="sour">
          <div class="title-container">
            <h3 class="flavour-name">S O U R N E S S</h3><span id="sour_value">2.5</span>
          </div>
          <div class="slider">LOW <%= f.range_field :sour, min: 0, max: 5, step: 0.1, id: "sour_slider" %> HIGH</div>
          <div class="flavour-description"><p>Contributed by citrus fruits, vinegars,
            yoghurts and fresh tomatoes.</p></div>
          </div>
          <div id="bitter">
            <div class="title-container">
              <h3 class="flavour-name">B I T T E R N E S S</h3><span id="bitter_value">2.5</span>
            </div>
            <div class="slider">LOW <%= f.range_field :bitter, min: 0, max: 5, step: 0.1, id: "bitter_slider" %> HIGH</div>
            <div class="flavour-description"><p>Leafy green vegetables, broccoli and
              brussels sprouts all contribute bitter flavours.</p></div>
            </div>
            <%= f.submit "S U B M I T", id: "submit-button" %>
            <% end %>
            <button id="next-button">N E X T</button>
          </div>
