<h2>Tell us about your food</h2>
<%= form_for [@pairing, @food] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<div id="sweet">
  <%= f.label :sweet %>
  <%= f.range_field :sweet, min: 0, max: 5, step: 0.1 %>
</div>
<div id="umami">
  <%= f.label :umami %>
  <%= f.range_field :umami, min: 0, max: 5, step: 0.1 %>
</div>
<div id="spicy">
  <%= f.label :spicy %>
  <%= f.range_field :spicy, min: 0, max: 5, step: 0.1 %>
</div>
<div id="sour">
  <%= f.label :sour %>
  <%= f.range_field :sour, min: 0, max: 5, step: 0.1 %>
</div>
<div id="bitter">
  <%= f.label :bitter %>
  <%= f.range_field :bitter, min: 0, max: 5, step: 0.1 %>
</div>
<%= f.submit "Submit", id: "submit-button" %>
<% end %>
<button id="next-button">Next</button>
