<h2>Enter your food and it's characteristics</h2>
<%= form_for [@pairing, @food] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :sweet %>
<%= f.text_field :sweet %>
<%= f.label :umami %>
<%= f.text_field :umami %>
<%= f.label :spicy %>
<%= f.text_field :spicy %>
<%= f.label :sour %>
<%= f.text_field :sour %>
<%= f.label :bitter %>
<%= f.text_field :bitter %>
<%= f.submit "Submit" %>
<% end %>
