<div id=wrapper>
  <h2></h2>
    <h1>Recommended wines for <%= @pairing.food.name.downcase %></h1>
      <div id="container">
      <ul id="wine-list">
        <% wine_id = 0 %>
        <% @pairing.wine.each do |wine| %>
        <% wine_id += 1 %>
        <li class="button" id="wine-id-<%=wine_id%>"><%="#{wine.name}"%></li>
        <% end %>
      </ul>
    </div>
    <% chart_id = 1 %>
    <% @pairing.wine.each do |variety| %>
      <div class='barchart-container' id="chart-id-<%=chart_id%>">
        <% chart_id += 1 %>
        <h2 class="barchart-title"><%= variety.name %></h2>
        <%= column_chart ({"Sweet" => variety.sweet, "Herby" => variety.herby, "Bitter" => variety.bitter, "Fruity" => variety.fruity, "Oaky" => variety.oaky, "Acid" => variety.acid, "Alcohol" => variety.alcohol}) %>
      </div>
    <% end %>
    <button id='restart'><%= link_to 'NEW RECOMMENDATION', root_path %></button>
</div>
