<div id=wrapper>
  <h2></h2>
    <h1>Recommended wines for <%= @pairing.food.name.downcase %></h1>
      <div id="container">
      <ul id="wine-list">
        <% @pairing.wine.each do |wine| %>
        <li class="button"><%= link_to "#{wine.name}"%></li>
        <% end %>
      </ul>
    </div>

    <% @pairing.wine.each do |variety| %>
      <h2 id='variety-name'><%= variety.name %></h2>
      <%= column_chart ({"Sweet" => variety.sweet, "Herby" => variety.herby, "Bitter" => variety.bitter, "Fruity" => variety.fruity, "Oaky" => variety.oaky, "Acid" => variety.acid, "Alcohol" => variety.alcohol}) %>
    <% end %>


    <button id='restart'><%= link_to 'NEW RECOMMENDATION', root_path %></button>
</div>
