<h1><%= @pairing.id %></h1>
<p><%= @pairing.food.name %></p>

<% @wine.each do |variety| %>
  <h2><%= variety.name %></h2>
  <%= column_chart ({"Sweet" => variety.sweet, "Herby" => variety.herby, "Bitter" => variety.bitter, "Fruity" => variety.fruity, "Oaky" => variety.oaky, "Acid" => variety.acid, "Alcohol" => variety.alcohol}) %>
<% end %>
<%= link_to 'Start pairing again!', root_path %>
