<h1><%= @wine.name %></h1>
<table>
  <thead>
    <tr>
      <th>Sweet</th>
      <th>Herby</th>
      <th>Bitter</th>
      <th>Fruity</th>
      <th>Oaky</th>
      <th>Alcohol</th>
      <th>Acid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @wine.sweet %></td>
      <td><%= @wine.herby %></td>
      <td><%= @wine.bitter %></td>
      <td><%= @wine.fruity %></td>
      <td><%= @wine.oaky %></td>
      <td><%= @wine.alcohol %></td>
      <td><%= @wine.acid %></td>
    </tr>
  </tbody>
</table>
